<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.duo.timezone"
    android:versionCode="2"
    android:versionName="2.0">
    <application
        android:label="DuoTimeFaker"
        android:hasCode="true">
        <meta-data
            android:name="xposedmodule"
            android:value="true" />
        <meta-data
            android:name="xposeddescription"
            android:value="Force Asia/Tokyo timezone and relax watchdog for Duolingo" />
        <meta-data
            android:name="xposedminversion"
            android:value="54" />
    </application>
</manifest>
